install
cdrom
lang en_US.UTF-8
keyboard us
unsupported_hardware
network --bootproto=dhcp
rootpw vagrant
firewall --disabled
selinux --permissive
timezone UTC
unsupported_hardware
bootloader --location=mbr
text
skipx
# Partition clearing information
zerombr
clearpart --all --drives=sda --initlabel
part /boot --fstype="xfs" --ondisk=sda --size=300
part pv.01 --fstype="lvmpv" --ondisk=sda --size=16000 --encrypted --passphrase=password
volgroup centos pv.01
logvol /tmp           --fstype="xfs"  --size=1000   --name=tmp           --vgname=centos
logvol /var           --fstype="xfs"  --size=2000   --name=var           --vgname=centos
logvol swap           --fstype="swap" --recommended --name=swap          --vgname=centos
logvol /var/tmp       --fstype="xfs"  --size=500    --name=var_tmp       --vgname=centos
logvol /              --fstype="xfs"  --size=4000   --name=root          --vgname=centos
logvol /var/log       --fstype="xfs"  --size=1000   --name=var_log       --vgname=centos
logvol /var/log/audit --fstype="xfs"  --size=500    --name=var_log_audit --vgname=centos
logvol /home          --fstype="xfs"  --size=2000   --name=home          --vgname=centos
auth --enableshadow --passalgo=sha512 --kickstart
firstboot --disabled
eula --agreed
services --enabled=NetworkManager,sshd
reboot
user --name=vagrant --plaintext --password vagrant --groups=vagrant,wheel

%packages --ignoremissing --excludedocs
@Base
@Core
@Development Tools
openssh-clients
sudo
openssl-devel
readline-devel
zlib-devel
kernel-headers
kernel-devel
net-tools
vim
wget
curl
rsync
%end

%post
yum update -y

# update root certs
wget -O /etc/pki/tls/certs/ca-bundle.crt http://curl.haxx.se/ca/cacert.pem

# sudo
yum install -y sudo
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

yum clean all
%end
